html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #eee;
    height: 100%;
    margin: 0;
}